<div id="header" class="bg-white max-w-6xl mx-auto xl:grid xl:grid-cols-12">
    <div id="logo" class="text-left xl:col-span-4 mt-5 mb-7">
        <img src="/logo/logo.png" alt="logo"/>
    </div>
    <div id="pestañas" class="md:flex items-center xl:col-span-8 xl:ml-19">
        <div class="pestana-inicio">INICIO</div>
        <div class="pestana-inicio">¿QUIENES SOMOS?</div>
        <div class="pestana-inicio w-1/4">ESPECIALIDADES Y TRATAMIENTOS</div>
        <div class="pestana-inicio">LA CLINICA</div>
        <div class="pestana-inicio">CONTACTO</div>
    </div>
</div>
