---
const correo = "recepcion@clinicahermosilla57.com";
const telefono = "+34 91 310 51 52";
---

<div id="banner" class="bg-gray-100 p-3">
    <div
        id="banner-container"
        class="max-w-6xl mx-auto md:grid md:grid-cols-2"
    >
        <div class="font-semibold text-gray-500 md:flex">
            <div>
                <a href={`mailto:${correo}`} class="text-sm" target="_blank">
                    {correo}
                </a>
            </div>
            <div>
                <a href={`tel:${telefono}`} class="md:ml-4 text-xs">
                    {telefono}
                </a>
            </div>
        </div>

        <div class="justify-self-end">
            <a class="bg-pink-600 text-white font-semibold px-5 py-2 text-xs">
                PEDIR CITA
            </a>
        </div>
    </div>
</div>
<div id="header" class="bg-white">
    <div id="header-contenedor" class=""></div>
</div>
